---
title: Home
layout: home.html
permalink: false

# Broadcast settings
broadcast:
  url: https://broadcast.radiomodem.dk
  formats:
    mp3: audio/mpeg
    ogg: audio/ogg
---

<main class="u-display-flex u-display-flex--column" role="main">
  <header class="masthead u-flex u-text-center" role="banner">
    <div class="container">
      <a href="/">
        <img alt="Modem" src="/img/logo.svg" width="200" height="200">
      </a>
    </div>

    <div class="masthead-fill">
      <audio data-streamer autoplay>
        <% for (var format in broadcast.formats) { %>
          <source
            src="<%- broadcast.url %>/stream.<%- format %>"
            type="<%- broadcast.formats[format] %>"
          >
        <% } %>
      </audio>

      <button class="button" type="button" data-slide-in-toggle="slide-in">
        Join us for a chat!
      </button>
    </div>
  </header>
</main>

<div class="slide-in slide-in--right" id="slide-in" data-slide-in>
  <header class="slide-in-header" role="banner">
    <h4>The Modem Chat</h4>
    <button class="slide-in-close" type="button" data-slide-in-close>
      <i class="ion-close"></i>
    </button>
  </header>

  <section class="slide-in-content">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'radio-modem';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  </section>
</div>
