---
title: Home
description: >
  Online radio by the students of the IT University of Copenhagen
layout: home.html
permalink: false

# Broadcast settings
broadcast:
  url: https://broadcast.radiomodem.dk
  formats:
    mp3: audio/mpeg
    ogg: audio/ogg
---

<main class="u-display-flex u-display-flex--column">
  <header class="masthead u-flex u-text-center">
    <div class="container">
      <h1 class="u-flush">
        <img alt="Modem logo" src="/img/logo.svg" width="200" height="200">
        <span class="u-sr-only">Modem</span>
      </h1>
    </div>

    <div class="masthead-fill">
      <audio data-streamer autoplay crossorigin="anonymous">
        <% for (var format in broadcast.formats) { %>
          <source
            src="<%- broadcast.url %>/stream.<%- format %>"
            type="<%- broadcast.formats[format] %>"
          >
        <% } %>
      </audio>

      <button class="button" type="button" data-slide-in-toggle="slide-in">
        Join us for a chat!
      </button>
    </div>
  </header>
</main>

<aside class="slide-in slide-in--right" id="slide-in" data-slide-in>
  <div class="slide-in-header">
    <h4>The Modem Chat</h4>
    <button class="slide-in-close" type="button" data-slide-in-close>
      <span class="ion-close" aria-hidden="true"></span>
      <span class="u-sr-only">Close</span>
    </button>
  </div>

  <div class="slide-in-content">
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = 'https://radiomodem.dk';
        this.page.identifier = 'chat';
      };
      (function() {
        var d = document, s = d.createElement('script');

        s.src = '//radiomodem.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
  </div>
</aside>
