---
title: Home
layout: home.html
permalink: false

# Stream settings
stream:
  url: http://130.226.142.108:443
  formats:
    mp3: audio/mpeg
    ogg: audio/ogg
---

<main class="u-display-flex u-display-flex--column" role="main">
  <header class="masthead u-flex" role="banner">
    <div class="container u-text-center">
      <a href="/">
        <img alt="Modem" src="/img/logo.svg" width="200" height="200">
      </a>
    </div>

    <div class="masthead-fill">
      <audio data-streamer autoplay>
        <% for (var format in stream.formats) { %>
        <source src="<%- stream.url %>/stream.<%- format %>" type="<%- stream.formats[format] %>">
        <% } %>
      </audio>
    </div>
  </header>
</main>
